body {
  background-color: #494b58; 
  margin: 0;
  font-family: Arial, sans-serif;
  height: 100vh; 
  overflow: auto; 
}

.main-layout {
  display: flex;
  flex-direction: row;
}

.navigation {
  background-color: #222433;
  width: 220px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 20px;
}

.navigation ul {
  list-style: none;
  padding: 0;
  margin: 20px 0;
  color: #7a7c8b;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
}

.navigation ul li {
  padding: 15px 60px;
  margin-bottom: 10px;
}

.navigation ul li.active,
.navigation ul li:hover {
  background: #4c525fd3;
}

.navigation ul li a {
  text-decoration: none;
  color: rgb(95, 134, 243);
}

.navigation ul li.logout {
  cursor: pointer;
  font-weight: bold;
  color: red;
}

.navigation ul li a:hover {
  color: #3498db;
}
.content-layout {
  display: flex;
  margin-left: 10px; 
  padding: 20px;
  flex-grow: 1;
}

.main-content {
  flex-grow: 1;
  margin-right: 100px;
}
